body {
    /*background-image: url(./imagens/cyber-security-g42f38f0d5_640.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    background-image: linear-gradient(#F0FFF0, #E0EEE0, #B0E0E6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    width: 100%;
}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.item{
    text-align: center;
    justify-content: space-between;
    margin: 0 100px 0 50px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: darkblue;
    margin: 30px 0 30px 0;
}
p{
    font-style: italic;
    font-size: 1em;
}
textarea {
    margin: 20px 0 20px 0;
    border: none;
    padding: 10px 25px;
    width: 75%;
    
}

label {
    font-size: 1em;
    font-style: italic;
    color: black;
}

button {
    width: 200px;
    padding: 15px 15px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s all;
    margin: 0 0 40px 40px;
}

button:hover {
    background-color: darkblue;
    transform: scale(1.2);
}

footer {
   
    text-align: center;
    font-size: 1em;
    margin: 30px 0 0 0;
    color: white;
    padding: 30px 0 30px 0;
    background-color: #7B68EE;
    width: 100%;
    
}

footer a:link {
    text-decoration: none;
}

footer a img {
    width: 50px;
    margin: 20px 0 0 20px;

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    h1{
        font-size: 1.5em;
    }
    .container {
        flex-direction: column
    }
    .item{
        margin: auto;
    }

    button {
        width: 200px;
        font-size: 0.75em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    h1{
        font-size: 1.75em;
    }
    .container {
        flex-direction: column;
    }

    button {
        width: 200px;
        font-size: 0.75em;
    }
}